<div class="tab">
  <ul class="cards">
    {% for post in paginator.posts %}
      {% unless post.episode %}
        <li class="card">
          <a class="card__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
            <div class="card__img">
              {% if post.image-sm %}
                <figure class="absolute-bg" style="background-image: url('{{ post.image-sm }}');"></figure>
              {% else %}
                <figure class="absolute-bg" style="background-image: url('{{ post.image }}');"></figure>
              {% endif %}
            </div>
            <div class="card__container">
              <h2 class="card__header">{{ post.title }}</h2>
              <p class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</p>
              <span class="card__more">Read</span>
            </div>
          </a>
          {% endunless %}
        </li>
    {% endfor %}
  </ul>

  {% include archive-link.html %}
</div>
